
body{
  background: url(background.jpg);
  height: auto;
  min-height: 100%;
  background-size:cover;
}

.box{
  padding:35px;
}

.container{
  width: 850px;
  background: rgba(0, 0, 0, 0.6);
            /* This set radius to all 4 corners */
  border-radius: 10px;
  margin: auto;
  padding: 25px;
}

.logo {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 190px;
}

.slogan{
  text-align: center;
  color: limegreen;
  font-size: 25px;
  font-family: monospace;
}

nav{
  text-align: center;
  background-color: limegreen;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 700px;
  margin-top:4px;
  margin-left: auto;
  margin-right: auto;

}


.titolo:before{
  content: "\262F ";
}

.titolo{
  color: white;
  font-size: 20px;
  font-family: monospace;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}

p{
  color: white;
  font-size: 12px;
  font-family: verdana;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

p:before{
  content: "\21AC ";
}


.carica1 {
  background-color: orange;
  width: 200px;
  padding-top: 15px;
  margin-left: 75px;
}

.carica2 {
  background-color: limegreen;
  width: 400px;
  padding-top: 15px;
  margin-left: 75px;
}

.carica3 {
  background-color: red;
  width: 80px;
  padding-top: 15px;
  margin-left: 75px;
}
